﻿@model BookEventsAPI.Models.User

@{
    ViewBag.Title = "SignUpForm";
}



@using (Html.BeginForm("Create","User",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="logincontainer">
    <h3>SignUp</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
    <br />
    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

    <br />

    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <br />
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
    <br />
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <input type="submit" value="Register" />&emsp;&emsp;
    <input type="reset" value="Reset" />
    <br />
    @Html.ActionLink("Already a User?LogIn", "LogIn", "User")
    
</div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
