﻿
@{
    ViewBag.Title = "View";
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<form method="post" action="http://localhost:52109/User/Login" >
    <div class="logincontainer">
        <h3 style="text-align: center;">Login</h3>
        <hr />
        <label for="authemail"><b>Email ID</b></label><br>
        <input type="email" placeholder="Enter Username" name="authemail" id="email" required>
        <br>
        <label for="authpassword"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="authpassword" id="password" required>
        <br>
        <h6 style="display:block; color:red">@ViewBag.Message</h6>
        <button type="submit" id="login">Login</button> &emsp;&emsp;
        <button type="reset">Reset</button><br />
        @Html.ActionLink("Not a User? Sign Up", "Index", "User")
    </div>
</form>

