﻿
@{
    ViewBag.Title = "CreateEvent";
}
<form method="post" action="http://localhost:52109/Home/Event">
    <div class="logincontainer">
        <h3 style="text-align: center;">Create Event</h3>
        <hr />
        <label for="title"><b>Title</b></label><br>
        <input type="text" placeholder="Enter Title" name="title" id="title" required>
        <br>
        <label for="date"><b>Date</b></label>
        <br>
        <input type="date" name="date" id="date" required>
        <br>
        <label for="location"><b>Location</b></label><br>
        <input type="text" placeholder="Enter Location" name="location" id="location" required>
        <br>
        <label for="datetime"><b>Start Time</b></label><br>
        <input type="time" id="time" data-format="HH:mm" data-template="HH : mm" name="datetime" required>
        <br />
        <label for="type"><b>Type</b></label><br>
        <select type="text" name="type" id="type" required>
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
        </select>
        <br>
        <label for="duration"><b>Duration(In Hour)</b></label><br>
        <input type="number" min="0" max="4" name="duration" id="duration" required>
        <br>

        <label for="description"><b>Description</b></label><br>
        <input type="text" placeholder="Description" name="description" id="description" required>
        <br>
        <label for="details"><b>Other Details</b></label><br>
        <input type="text" placeholder="Other Details" name="details" id="details">
        <br>
        <br>
        <label for="inviteByEmail"><b>Invite By Email</b></label><br>
        <input type="text" placeholder="Email Seperated by Comma" name="inviteByEmail" id="inviteByEmail">
        <br>
        <button style="margin-top:2%" type="submit" id="create">Create</button> &emsp;&emsp;
        <button style="margin-top:2%" type="reset">Reset</button><br />
    </div>
</form>

