﻿
@{
    ViewBag.Title = "UserHome";
}
<script type="text/javascript">

    function info(event) {
      
        $.get("/Home/BookInfo", { id: $(event.target).attr('data-id') }, function (data, status, xhr) {
          
        }).fail(function (jqxhr, settings, ex) {
            alert("error" + ex);
        });
        
        
    }
    $.get("/Home/MyEvent", function (data, status, xhr) {
        $('#past').empty();
        var showdata = JSON.parse(data).bookinfo;
        showdata[0].forEach(element => {
            $("#past").append("<a style='margin-top:2%; cursor:pointer;' onclick='info(event)' data-id='" + element.Id+"'>" + element.Title + "</a>")
        });
        showdata[1].forEach(element => {
            $("#future").append("<a style='margin-top:2%; cursor:pointer;' onclick='info(event)' data-id='" + element.Id + "'>" + element.Title + "</a>")
        });
        
      //  alert(JSON.parse(data).bookinfo[0][0].Title);
    }).fail(function (jqxhr, settings, ex) {
        alert("error" + ex);
    });
    </script>
<h2>Welcome</h2>

<div class="logincontainer" style="width:90%;margin-left:5%">
    <div class="row">
        <div class="col-lg-1" style="width:50%">
            <h3 style="text-align:center">Past Events</h3>
            <hr>
            <div id="past">

            </div>
           
        </div>
        <div class="col-lg-2" style="width:50%">
            <h3 style="text-align:center">Future Events</h3>
            <hr>
            <div id="future">

            </div>
        </div>
    </div>
</div>
